Product Name,SKU,Monthly Commitment Price,Annual Commitment Price
Microsoft 365 Business Basic,CFQ7TTC0LH18,6.00,4.80
Microsoft 365 Business Standard,CFQ7TTC0LDCX,12.50,10.00
Microsoft 365 Business Premium,CFQ7TTC0LCHC,22.00,17.60
Microsoft 365 E3,CFQ7TTC0LFLX,36.00,28.80
Microsoft 365 E5,CFQ7TTC0LFLZ,57.00,45.60
Microsoft 365 F1,CFQ7TTC0LH05,2.25,1.80
Microsoft 365 F3,CFQ7TTC0LH05,8.00,6.40
Exchange Online (Plan 1),CFQ7TTC0LH16,4.00,3.20
Exchange Online (Plan 2),CFQ7TTC0LH1P,8.00,6.40
Microsoft Defender for Office 365 (Plan 1),CFQ7TTC0LH0R,2.00,1.60
Microsoft Teams Essentials,CFQ7TTC0LH8L,4.00,3.20
Microsoft Entra ID P1,CFQ7TTC0LFK5,6.00,4.80
